<div class="container-fluid vertical-h">
    <div class="row h-100">
        <div class="col-md-3 p-3 h-100 border-end">
            <div class="h-100 d-flex flex-column">
                <div class="">
                    <input [(ngModel)]="search" (input)="filterUser()" type="search" class="form-control" placeholder="Search"/>
                </div>
                <div class="">
                    <hr/>
                </div>
                <div *ngIf="filteredUsers?.length" class="overflow-auto flex-grow-1">
                    <div class="list-group list-group-flush">
                        <ng-container *ngFor="let u of filteredUsers;">
                            <a (click)="setUser(u)" class="cursor-pointer rounded list-group-item list-group-item-action {{selectedUser?._id === u._id ? 'active' : ''}}">
                                {{u.fullName}} 
                                <span *ngIf="u.isOnline" class="badge rounded-pill text-bg-success">online</span>
                                <span *ngIf="!u.isOnline" class="badge rounded-pill text-bg-danger">offline</span>
                            </a>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="filteredUsers?.length" class="">
                    <hr/>
                </div>
                <div class="mt-auto">
                    <button (click)="logout()" type="button" class="btn btn-secondary">Logout</button>
                </div>
            </div>
        </div>
        <div class="col-md-9 p-3 h-100">
            <ng-container *ngIf="selectedUser">
                <div class="h-100 d-flex flex-column">
                    <div class="bg-secondary text-white rounded px-4 py-2 mb-2">
                        To: {{selectedUser.fullName}}
                    </div>
                    <div class="overflow-auto flex-grow-1 mb-2" #scrollMe>
                        <ng-container *ngFor="let msg of messages;">
                            <div *ngIf="msg.senderId === selectedUser._id" class="d-flex align-items-center justify-content-start mb-2">
                                <div class="rounded">
                                  <small class="text-muted">{{msg.createdAt | date: 'hh:mm'}}</small>
                                  <p class="bg-light rounded p-3 text-dark">
                                    {{msg.message}}
                                  </p>
                                </div>
                            </div>
                            <div *ngIf="msg.senderId === user?._id" class="d-flex align-items-center justify-content-end mb-2">
                                <div class="rounded">
                                  <small class="text-muted">{{msg.createdAt | date: 'hh:mm'}}</small>
                                  <p class="bg-light rounded p-3 text-dark">
                                    {{msg.message}}
                                  </p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="input-group mt-auto">
                        <input [(ngModel)]="message" (keyup.enter)="sendMessage()" type="text" class="form-control" placeholder="Message"/>
                        <button [disabled]="!message || isLoading" (click)="sendMessage()" type="button" class="btn btn-outline-secondary">
                            {{isLoading ? 'Loading' : 'Send'}}
                        </button>
                      </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!selectedUser">
                <div class="p-3 text-center">
                    <h4>Welcome {{user ? user.fullName : ""}}</h4>
                    <p>Select a chat</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>