<ng-container *ngIf="selectedUser">
    <div class="h-100 d-flex flex-column">
        <div class="bg-secondary text-white rounded px-4 py-2 mb-2">
            To: {{selectedUser.fullName}}
        </div>
        <div class="overflow-auto flex-grow-1 mb-2" #scrollMe>
            <ng-container *ngFor="let msg of messages;">
                <app-message [msg]="msg" [user]="user"></app-message>
            </ng-container>
        </div>
        <div class="input-group mt-auto">
            <button [disabled]="isLoading" (click)="imageInput.click()" type="button" class="btn btn-outline-secondary">
                Image
            </button>
            <input name="message" [(ngModel)]="message" (keyup.enter)="sendMessage()" type="text" class="form-control" placeholder="Message"/>
            <button [disabled]="!message || isLoading" (click)="sendMessage()" type="button" class="btn btn-outline-secondary">
                {{isLoading ? 'Loading' : 'Send'}}
            </button>
        </div>
        <input name="img-file" type="file" #imageInput (change)="openImageModal($event, content)" class="d-none" accept="image/*"/>
    </div>
</ng-container>
<ng-container *ngIf="!selectedUser">
    <div class="p-3 text-center">
        <h4>Welcome {{user ? user.fullName : ""}}</h4>
        <p>Select a chat</p>
    </div>
</ng-container>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Image</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.close('close')"></button>
	</div>
	<div class="modal-body">
        <div class="d-flex justify-content-center align-items-center">
            <img src="{{imageUrl}}" class="app-img-size img-thumbnail" alt="image">
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('send')">Send</button>
	</div>
</ng-template>